/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

@layer utilities {
  .animate-gradient-move {
    background-size: 200% auto;
    transition: background-position 1.2s ease-in-out, transform 0.7s ease-in-out;
  }

  .animate-gradient-move:hover {
    background-position: right center;
  }
}

.benef-card h3,
.benef-card p {
  color: #e5e7eb !important;
}

.dash_call_table tbody tr::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  height: 1px;
  width: 97%;
  background-color: #d1d5dc;
}

.dash_call_table tbody tr:nth-last-child(1)::after {
  display: none;
}

/* Rotate Gradient in Signup or Login page  */
/* @keyframes rotateGradient {
  0% {
    background: linear-gradient(0deg, #00021D, #382b86);
  }
} */

.gradient-rotate {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(45deg,
      #00021d,
      #13243c,
      #00021d,
      #13243c,
      #00021d,
      #13243c);
  background-size: 600% 100%;
  animation: gradient 30s linear infinite;
  animation-direction: alternate;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 100%;
  }
}

/* Call Initiated Modal */

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@keyframes pulseBorder {

  0%,
  100% {
    box-shadow: 0 0 10px #60a5fa, 0 0 20px #3b82f6, inset 0 0 10px #60a5fa;
  }

  50% {
    box-shadow: 0 0 20px #2563eb, 0 0 40px #1e40af, inset 0 0 20px #2563eb;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}

.animate-fadeInScale {
  animation: fadeInScale 0.25s ease-out;
}